<?xml version="1.0"?>
<config>
    <modules>

        <Bcash_Pagamento>
            <version>1.2.0</version>
        </Bcash_Pagamento>

        <Bcash_Creditcard>
            <version>1.2.0</version>
        </Bcash_Creditcard>

        <Bcash_Bankslip>
            <version>1.2.0</version>
        </Bcash_Bankslip>

        <Bcash_Onlinetransfer>
            <version>1.2.0</version>
        </Bcash_Onlinetransfer>

    </modules>

    <global>
        <fieldsets>
            <sales_convert_quote>
                <transaction_id_bcash>
                    <to_order>*</to_order>
                </transaction_id_bcash>
                <status_bcash>
                    <to_order>*</to_order>
                </status_bcash>
                <description_status_bcash>
                    <to_order>*</to_order>
                </description_status_bcash>
                <payment_link_bcash>
                    <to_order>*</to_order>
                </payment_link_bcash>
                <payment_method_bcash>
                    <to_order>*</to_order>
                </payment_method_bcash>
                <installments_bcash>
                    <to_order>*</to_order>
                </installments_bcash>
                <cpf_cnpj_bcash>
                    <to_order>*</to_order>
                </cpf_cnpj_bcash>
                <ddd_bcash>
                    <to_order>*</to_order>
                </ddd_bcash>
                <phone_bcash>
                    <to_order>*</to_order>
                </phone_bcash>
            </sales_convert_quote>
            <sales_convert_order>
                <transaction_id_bcash>
                    <to_quote>*</to_quote>
                </transaction_id_bcash>
                <status_bcash>
                    <to_quote>*</to_quote>
                </status_bcash>
                <description_status_bcash>
                    <to_quote>*</to_quote>
                </description_status_bcash>
                <payment_link_bcash>
                    <to_quote>*</to_quote>
                </payment_link_bcash>
                <payment_method_bcash>
                    <to_quote>*</to_quote>
                </payment_method_bcash>
                <installments_bcash>
                    <to_quote>*</to_quote>
                </installments_bcash>
                <cpf_cnpj_bcash>
                    <to_quote>*</to_quote>
                </cpf_cnpj_bcash>
                <ddd_bcash>
                    <to_quote>*</to_quote>
                </ddd_bcash>
                <phone_bcash>
                    <to_quote>*</to_quote>
                </phone_bcash>
            </sales_convert_order>
        </fieldsets>
        <helpers>
            <bcash>
                <class>Bcash_Pagamento_Helper</class>
            </bcash>
            <bcash_creditcard>
                <class>Bcash_Pagamento_Helper</class>
            </bcash_creditcard>
            <bcash_bankslip>
                <class>Bcash_Pagamento_Helper</class>
            </bcash_bankslip>
            <bcash_onlinetransfer>
                <class>Bcash_Pagamento_Helper</class>
            </bcash_onlinetransfer>
        </helpers>
        <blocks>
            <bcash>
                <class>Bcash_Pagamento_Block</class>
            </bcash>
            <bcash_adminhtml>
                <class>Bcash_Pagamento_Block_Adminhtml</class>
            </bcash_adminhtml>
            <adminhtml>
                <rewrite>
                    <sales_order_view>Bcash_Pagamento_Block_Adminhtml_Sales_Order_View</sales_order_view>
                    <sales_order_grid>Bcash_Pagamento_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <bcash>
                <class>Bcash_Pagamento_Model</class>
            </bcash>
        </models>
        <resources>
            <pagamento_setup>
                <setup>
                    <module>Bcash_Pagamento</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pagamento_setup>
            <pagamento_write>
                <use>core_write</use>
            </pagamento_write>
            <pagamento_read>
                <use>core_read</use>
            </pagamento_read>
            <pagamento_setup>
                <connection>
                    <use>core_setup</use>
                </connection>
                <setup>
                    <module>Bcash_Pagamento</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
            </pagamento_setup>
        </resources>
        <sales>
            <order>
                <states>
                    <pending_payment translate="label">
                        <visible_on_front>1</visible_on_front>
                    </pending_payment>
                </states>
            </order>
        </sales>
    </global>

    <admin>
        <routers>
            <bcash>
                <use>admin</use>
                <args>
                    <module>Bcash_Pagamento</module>
                    <frontName>bcash</frontName>
                </args>
            </bcash>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <sales_order_save_commit_after>
                <observers>
                    <sales_order_save_commit_after_handler>
                        <type>model</type>
                        <class>bcash/observer</class>
                        <method>checkOrderState</method>
                        <args></args>
                    </sales_order_save_commit_after_handler>
                </observers>
            </sales_order_save_commit_after>
    </events>
    </adminhtml>
    <frontend>
        <events>
            <checkout_onepage_controller_success_action>
                <observers>
                    <bcash_pagamento_observer_success>
                        <class>Bcash_Pagamento_Model_Observer</class>
                        <method>orderSuccessEvent</method>
                    </bcash_pagamento_observer_success>
                </observers>
            </checkout_onepage_controller_success_action>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <bcash_pagamento_observer>
                        <class>Bcash_Pagamento_Model_Observer</class>
                        <method>saveOrderQuoteToSession</method>
                    </bcash_pagamento_observer>
                </observers>
            </checkout_type_onepage_save_order_after>
            <sales_quote_payment_import_data_before>
                <observers>
                    <bcash_pagamento_observer>
                        <class>Bcash_Pagamento_Model_Observer</class>
                        <method>updateSalesQuotePayment</method>
                    </bcash_pagamento_observer>
                </observers>
            </sales_quote_payment_import_data_before>
        </events>
    </frontend>

    <frontend>
        <routers>
            <bcash>
                <use>standard</use>
                <args>
                    <module>Bcash_Pagamento</module>
                    <frontName>bcash</frontName>
                </args>
            </bcash>
        </routers>
        <layout>
            <updates>
                <bcash_pagamento>
                    <file>bcash/pagamento/layout.xml</file>
                </bcash_pagamento>
            </updates>
        </layout>
    </frontend>

    <default>
        <payment>
            <bcash>
                <active>1</active>
                <order_status>1</order_status>
                <logfile>0</logfile>
                <sandbox>1</sandbox>
				<allowspecific>0</allowspecific>
            </bcash>

            <bcash_creditcard>
                <title>Bcash - Cartão de Crédito</title>
                <active>1</active>
                <model>bcash/creditCard</model>
                <order_status>1</order_status>
                <payment_action>sale</payment_action>
                <allowspecific>0</allowspecific>
                <sort_order>-3</sort_order>
                <max_installments>24</max_installments>
            </bcash_creditcard>

            <bcash_bankslip>
                <title>Bcash - Boleto</title>
                <active>1</active>
                <model>bcash/bankSlip</model>
                <order_status>1</order_status>
                <payment_action>sale</payment_action>
                <allowspecific>0</allowspecific>
                <sort_order>-2</sort_order>
            </bcash_bankslip>

            <bcash_onlinetransfer>
                <title>Bcash - Transferência Online (TEF)</title>
                <active>1</active>
                <model>bcash/onlineTransfer</model>
                <order_status>1</order_status>
                <payment_action>sale</payment_action>
                <allowspecific>0</allowspecific>
                <sort_order>-1</sort_order>
            </bcash_onlinetransfer>
        </payment>
    </default>
</config>
