<?xml version="1.0"?>
<config>
    <modules>
        <Bcash_Pagamento>
            <version>1.0.0</version>
        </Bcash_Pagamento>
    </modules>

    <global>
        <fieldsets>
            <sales_convert_quote_payment>
                <bcash_transaction_id>
                    <to_order_payment>*</to_order_payment>
                </bcash_transaction_id>
                <installments_bcash>
                    <to_quote_payment>*</to_quote_payment>
                </installments_bcash>
            </sales_convert_quote_payment>
            <sales_convert_order_payment>
                <bcash_transaction_id>
                    <to_quote_payment>*</to_quote_payment>
                </bcash_transaction_id>
                <installments_bcash>
                    <to_quote_payment>*</to_quote_payment>
                </installments_bcash>
            </sales_convert_order_payment>
        </fieldsets>

        <helpers>
            <pagamento>
                <class>Bcash_Pagamento_Helper</class>
            </pagamento>
        </helpers>

        <blocks>
            <pagamento>
                <class>Bcash_Pagamento_Block</class>
            </pagamento>

            <pagamento_adminhtml>
                <class>Bcash_Pagamento_Block_Adminhtml</class>
            </pagamento_adminhtml>

            <adminhtml>
                <rewrite>
                    <sales_order_view>Bcash_Pagamento_Block_Adminhtml_Sales_Order_View</sales_order_view>
                    <sales_order_grid>Bcash_Pagamento_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>

        <models>
            <pagamento>
                <class>Bcash_Pagamento_Model</class>
            </pagamento>
        </models>

        <resources>
            <pagamento_setup>
                <setup>
                    <module>Bcash_Pagamento</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pagamento_setup>
            <pagamento_write>
                <use>core_write</use>
            </pagamento_write>
            <pagamento_read>
                <use>core_read</use>
            </pagamento_read>
        </resources>

    </global>
    
    <admin>
        <routers>
            <pagamento>
                <use>admin</use>
                <args>
                    <module>Bcash_Pagamento</module>
                    <frontName>pagamento</frontName>
                </args>
            </pagamento>
        </routers>
    </admin>

    <adminhtml>
        <events>
            <nothing_to_do_here_yet> 
                <observers>
                    <pagamento> 
                        <type>model</type> 
                        <class>pagamento/observer</class> 
                        <method>checkOrderState</method> 
                        <args></args>
                    </pagamento>
                </observers>
            </nothing_to_do_here_yet>
        </events>
    </adminhtml> 

    <default>
        <payment>
            <pagamento>
                <order_status_approved>processing</order_status_approved>
                <order_status_refunded>pending</order_status_refunded>
                <order_status_in_process>pending</order_status_in_process>
                <order_status_in_mediation>pending</order_status_in_mediation>
                <order_status_rejected>pending</order_status_rejected>
                <order_status_cancelled>pending</order_status_cancelled>
                <order_status_chargeback>pending</order_status_chargeback>
                <active>1</active>
                <model>pagamento/paymentMethod</model>
                <payment_action>order</payment_action>
                <title>Bcash</title>
                <allowspecific>0</allowspecific>
            </pagamento>
        </payment>
    </default>

    <frontend>
        <routers>
            <pagamento>
                <use>standard</use>
                <args>
                    <module>Bcash_Pagamento</module>
                    <frontName>pagamento</frontName>
                </args>
            </pagamento>
        </routers>
    </frontend>

</config>

