<?xml version="1.0"?>
<config>
    <modules>
        <Bcash_Pagamento>
            <version>0.1.0</version>
        </Bcash_Pagamento>
    </modules>
    <global>
        <fieldsets>
            <sales_convert_quote_payment>
                <bcash_transaction_id>
                    <to_order_payment>*</to_order_payment>
                </bcash_transaction_id>
                <installments_bcash>
                    <to_quote_payment>*</to_quote_payment>
                </installments_bcash>
            </sales_convert_quote_payment>
            <sales_convert_order_payment>
                <bcash_transaction_id>
                    <to_quote_payment>*</to_quote_payment>
                </bcash_transaction_id>
                <installments_bcash>
                    <to_quote_payment>*</to_quote_payment>
                </installments_bcash>
            </sales_convert_order_payment>
        </fieldsets>
        <helpers>
            <pagamento>
                <class>Bcash_Pagamento_Helper</class>
            </pagamento>
        </helpers>
        <blocks>
            <pagamento>
                <class>Bcash_Pagamento_Block</class>
            </pagamento>
            <pagamento_adminhtml>
                <class>Bcash_Pagamento_Block_Adminhtml</class>
            </pagamento_adminhtml>
            <adminhtml>
                <rewrite>
                    <sales_order_view>Bcash_Pagamento_Block_Adminhtml_Sales_Order_View</sales_order_view>
                    <sales_order_grid>Bcash_Pagamento_Block_Adminhtml_Sales_Order_Grid</sales_order_grid>
                </rewrite>
            </adminhtml>
        </blocks>
        <models>
            <pagamento>
                <class>Bcash_Pagamento_Model</class>
            </pagamento>
        </models>
        <resources>
            <pagamento_setup>
                <setup>
                    <module>Bcash_Pagamento</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </pagamento_setup>
            <pagamento_write>
                <use>core_write</use>
            </pagamento_write>
            <pagamento_read>
                <use>core_read</use>
            </pagamento_read>
            <pagamento_setup>
                <connection>
                    <use>core_setup</use>
                </connection>
                <setup>
                    <module>Bcash_Pagamento</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
            </pagamento_setup>
        </resources>
        <sales>
            <order>
                <states>
                    <pending_payment translate="label">
                        <visible_on_front>1</visible_on_front>
                    </pending_payment>
                </states>
            </order>
        </sales>
    </global>
    <admin>
        <routers>
            <pagamento>
                <use>admin</use>
                <args>
                    <module>Bcash_Pagamento</module>
                    <frontName>pagamento</frontName>
                </args>
            </pagamento>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <sales_order_save_commit_after>
                <observers>
                    <sales_order_save_commit_after_handler>
                        <type>model</type>
                        <class>pagamento/observer</class>
                        <method>checkOrderState</method>
                        <args></args>
                    </sales_order_save_commit_after_handler>
                </observers>
            </sales_order_save_commit_after>
            <checkout_type_onepage_save_order_after>
                <observers>
                    <bcash_pagamento_observer>
                        <class>Bcash_Pagamento_Model_Observer</class>
                        <method>saveOrderQuoteToSession</method>
                    </bcash_pagamento_observer>
                </observers>
            </checkout_type_onepage_save_order_after>
        </events>
    </adminhtml>
    <default>
        <payment>
            <pagamento>
                <title>Bcash</title>
                <active>1</active>
                <model>pagamento/paymentMethod</model>
                <order_status>1</order_status>
                <payment_action>sale</payment_action>
                <allowspecific>0</allowspecific>
            </pagamento>
        </payment>
    </default>
    <frontend>
        <routers>
            <pagamento>
                <use>standard</use>
                <args>
                    <module>Bcash_Pagamento</module>
                    <frontName>pagamento</frontName>
                </args>
            </pagamento>
        </routers>
    </frontend>
</config>